@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wdth,wght@85,331&display=swap");
html,
body,
#root {
  height: 100%;
}

html * {
  font-family: "Open Sans", sans-serif;
}

*,
::after,
::before {
  box-sizing: border-box;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
