$color-primary-dark: #01103d;
$color-primary:  #29a2ff;
$color-primary-light: #59b7ff;
$color-secondary: #58ff8f;

//typography
$text-color-light: #fff8f0;
$text-color-dark: #131316;
$font-primary: sans-serif;
$font-secondary: serif;